.root {
  height: 100vh;
}

.header {
  display: flex;
  /* justify-content: flex-end; */
  align-content: space-between;
  height: 5em;
  padding: 0.5em 1em;
  /* background-color: rgb(220, 234, 245); */
}

.header__navigation {
  /* background-color: rgb(220, 234, 245); */
}

.btn__logout {
  margin-left: auto !important;
  color: rgb(14, 122, 216);
  font-weight: 700;
}

.btn__logout:hover {
  color: rgb(12, 58, 99);
}

.btn__icon {
  padding-left: 0.5em;
}

.main {
  padding: 2em;
}
